div.slides img {
  background-color: #FFFFFF content:url(https://d2mw6vgfxwlz2a.cloudfront.net/2016/Feb/docker_logo-1455828502290.png) no-repeat right top;
}



/*
div.image {
	width:100px;
	height:100px;
    content:url(https://d2mw6vgfxwlz2a.cloudfront.net/2016/Feb/docker_logo-1455828502290.png)
}
*/
